{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    {%block head%}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}Home | CyberFusion{%endblock%}</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/mobile.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {%endblock%}
    {%block scriptshead%}{%endblock%}
</head>
<body>
    {%block navbar%}
    <!-- HEADER-SECTION -->
    <div class="home-header-section">
        <header class="header">
            <div class="main-header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <a class="navbar-brand pt-0" href="/" style="padding-top: 18px!important;">
                            <img src="/static/images/logo.png" alt="" class="img-fluid diverge-logo"  style="height: 40px; padding-bottom: 8px;"/>
                            <span class="text-white" style="font-size: 1.5rem; margin-left: 5px;">CyberFusion</span>
                        </a>
                            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav">
                                        <li class="nav-item {%block active-home%}active{%endblock%}">
                                            <a class="nav-link text-decoration-none navbar-text-color home-margin-top" href="/">Home<span class="sr-only">(current)</span></a>
                                        </li>

                                        <li class="nav-item {%block active-faq%}{%endblock%}" style="margin-left: 40px;">
                                            <a class="nav-link text-decoration-none navbar-text-color" href="/faq">FAQs</a>
                                        </li>
                                    </ul>
                                    <div class="btn-talk ml-auto">
                                        <ul class="m-0 p-0">
                                            <li class="list-unstyled d-lg-inline-block"><a class="nav-link contact" href="#start-now">Start Now</a></li>
                                        </ul>
                                    </div>
                                </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- BANNER-SECTION -->
        {%block banner%} 
        <div class="home-banner-section overflow-hidden">
            <div class="banner-container-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                            <div class="home-banner-text" data-aos="fade-up">
                                <h4 class="text-white artificial-text">Welcome to Cyber Fusion</h4>
                                <h1 class="text-white"> Your Local Ethical Hacking Playground
                                </h1>
                                <p class="text-white banner-paragraph">
                                    Dive into the World of Cyber Fusion, Where Ethical Hacking meets Innovation, Learn Safely and Experiment Fearlessly in a Secure Environment.
                                </p>
                                <div class="banner-btn discover-btn-banner">
                                    <a href="#start-now" class="text-decoration-none">Start Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="banner-img-content position-relative" data-aos="fade-up" style="padding: 0;">
                                <figure class="banner-img mb-0 wow slideInRight" data-wow-duration="2s">
                                    <img class="img-fluid banner-img-width" src="/static/images/desktop.png" alt="" style="position: relative; bottom: 30px;"/>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <section id="start-now" class="form-section-starts overflow-hidden" style="background: none; padding: 0;">
                        <div class="form-section" data-aos="fade-up" >
                            <h3 class="text-white text-center mb-3">Check Out Cyber Fusion Now</h3>
                            <p class="text-center form-section-p">Just enter IP to perform an attack</p>
                            <div class="input-group input-field-form">
                                <form action="" method="post">
                                    {% csrf_token %}
                                <input type="text" class="form-control input-form-input" style="width: 190%;"
                                    placeholder="Enter IP Address" name="input_data">
                                <div class="input-group-append form-button">
                                    <button class="btn btn-form-section" type="submit">Start</button>
                                </div>
                                </form>
                            </div>
                        </div>

                    </section>
                    <!-- CARDS-SECTION -->
                    <div id="updates" class="cards-section overflow-hidden">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                                    <div class="cards-outer outer-card1" data-aos="fade-up">
                                        <h6 class="heading-background">Hacking Tools</h6>
                                        <p class="card-heading-p vertical-bar-line">Our hacking arsenal, with Nmap, Whois, and Medusa, employs diverse techniques to uncover IP addresses, detect open ports, and crack SSH passwords.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                                    <div class="cards-outer outer-padding-left outer-card2" data-aos="fade-up">
                                        <h6 class="heading-background">Backend</h6>
                                        <p class="card-heading-p vertical-bar-line">Our backend, crafted with Django and Celery, synergizes seamlessly with our API for efficient operations.</p>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 mb-md-0 mb-4 text-md-left text-center" data-aos="fade-up">
                                    <div class="outer-padding-left-last outer-card3">
                                        <h6 class="heading-background">Frontend</h6>
                                        <p class="card-heading-p">Our frontend, utilizing HTML, CSS, and JavaScript, delivers a dynamic and engaging user experience..</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endblock%}
    </div>
    {%endblock%}
    {%block main%}
    <!-- ICONS_SECTION -->
    <section id="technologies" class="icons-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center p-0 mt-4"  data-aos="fade-zoom-in">Build Using Cutting-Edge Technologies</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <figure class="mb-0 comapanies-icon-margin icons-mb"><img src="/static/images/django.png" alt="" style="width: 100px;"></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <figure class="mb-0 comapanies-icon-margin icons-mb"><img src="/static/images/celery.png" alt="" style="width: 140px;"></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <figure class="mb-0 comapanies-icon-margin icons-mb"><img src="/static/images/whois.png" alt="" style="width: 150px;"></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0  mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <figure class="mb-0 comapanies-icon-margin-hype icons-mb"><img src="/static/images/nmap.png" alt="" style="width: 90px;"></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0  mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <figure class="mb-0 comapanies-icon-margin-hype icons-mb"><img src="/static/images/socket.png" alt="" style="width: 120px;"></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0  mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <figure class="mb-0 comapanies-icon-margin-hype icons-mb"><img src="/static/images/rest-api.webp" alt="" style="width: 70px;"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CYBER-SECURITY-SECTION -->
    <section class="cyber-security-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="cyber-content-img" data-aos="fade-up-left">
                        <figure class="mb-0"><img src="/static/images/main-1.png" alt="" style="height: 510px;"
                                class="cyber-security-provider-img">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="cyber-content" data-aos="fade-up-right">
                        <h3>Advanced Cyber<span class="cyber-text"> Hacking Tool </span></h3>
                        <p class="security-services-p">Enter an IP, Enter a World: Step into our virtual terminal and unlock the gateway to exploration. With a few keystrokes, delve into the intricacies of network architecture, dissect vulnerabilities, and wield powerful commands to navigate systems ethically. Traverse the digital landscape, gaining insights and honing skills as you responsibly probe the depths of cybersecurity.</p>
                        <p class="security-services-p cyber-p-margin-bottom">Through IP entry, traverse digital realms, honing skills to ethically navigate and secure systems.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- boxes-section -->
    <div id="stats" class="about-us-section-start cyber-boxes-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="/static/images/cyber-section-icon1.png" alt="">
                            </figure>
                        </div>
                        <h3 class="counetr-heading"><span class="counter">17</span><span
                                class="cyber-counter">+</span></h3>
                        <h5 class="cyber-boxes-text">Tested On</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0 icon-color"><img src="/static/images/cyber-section-icon2.png" alt="">
                            </figure>
                        </div>
                        <h3 class="counetr-heading"><span class="counter">12</span><span
                                class="cyber-counter clients-protect">+</span>
                        </h3>
                        <h5 class="cyber-boxes-text">Data Collected</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content"  data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="/static/images/cyber-section-icon4.png" alt="">
                            </figure>
                        </div>
                        <h3 class="counetr-heading"><span class="counter">5</span><span
                                class="cyber-counter expert-team"></span></h3>
                        <h5 class="cyber-boxes-text">Experts Team</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT-US_SECTION -->
    <section id="why-cf" class="about-us-section-start">
        <div class="about-right-icon position-relative" data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
            <figure class="whyus-icon"><img src="/static/images/about-us-section-right-icon.png" alt=""
                    class="img-fluid">
            </figure>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center"  data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom">Why Use Cyber Fusion</h3>
                        <p class="text-center" data-aos="fade-up">Cyber Fusion uses latest and Cutting-Edge technologies.
                        </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up"
                    data-aos-anchor-placement="bottom-bottom">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="/static/images/about-round-icon1.png" alt="">
                            </figure>
                        </div>
                        <h4>Streamlined IP-Based Access</h4>
                        <p class="security-services-p">Seamlessly explore network architectures and uncover vulnerabilities with our intuitive IP-based access system, designed for smooth and efficient hacking experiences.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up"
                    data-aos-anchor-placement="bottom-bottom">
                        <div class="icons-rounded-box">
                            <figure class="mb-0 icon-color"><img src="/static/images/about-round-icon2.png" alt="">
                            </figure>
                        </div>
                        <h4>Cutting-Edge Technologies</h4>
                        <p class="security-services-p">Unlock the power of advanced cybersecurity tools such as FTP, Nmap, and Whois to analyze network vulnerabilities and strengthen your digital defenses.</p>
            
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up"
                    data-aos-anchor-placement="bottom-bottom">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="/static/images/about-round-icon3.png" alt="">
                            </figure>
                        </div>
                        <h4>Robust Security Measures</h4>
                        <p class="security-services-p">Rest assured knowing that Cyber Fusion prioritizes your security with robust measures in place to safeguard your data and ensure a secure environment for ethical hacking exploration.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CYBER-SECURITY-SOLUTION -->
    <section class="cyber-security-section cyber-security-section2 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="cyber-content" data-aos="fade-up-left">
                        <h3>Providing Best <span class="cyber-text">IP Attack </span>On Web</h3>
                        <p class="security-services-p">Empowering Your Web Assaults with IP Precision, Experience the pinnacle of hacking efficiency as our platform equips you with superior IP attack tools. Dive deep into web vulnerabilities with precision and finesse, ensuring thorough ethical exploration and analysis.</p>
                        <p class="security-services-p cyber-p-margin-bottom">Navigate the web's vulnerabilities with pinpoint accuracy through our advanced IP attack features, ensuring meticulous exploration and ethical hacking practices.</p>
                        <div class="cyber-contact-btn">
                            <a href="#start-now" class="text-decoration-none">Start Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 text-md-right text-center">
                    <div class="cyber-content-img-right" data-aos="fade-up-right">
                        <figure class="mb-0"><img src="/static/images/main-2.png" alt="" class="" style="height: 554px;">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Accordian-Section -->
    <section id="faq" class="cyber-security-section accordian-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="faq-content-img" data-aos="fade-right">
                        <figure class="mb-0"><img src="/static/images/faq.png" alt="" class="" style="height: 570px;">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="cyber-content accordian-text" data-aos="fade-up">
                        <h3>General Questions, Frequently Asked Questions?</h3>
                        <div class="accordian-inner">
                            <div id="accordion1">
                                <div class="accordion-card">
                                    <div class="" id="headingFour">
                                        <a href="#" class="btn btn-link text-decoration-none"
                                            data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            <h5 class="faq-btn-text">What is the purpose of this tool?</h5>
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour">
                                        <div class="card-body">
                                            <p class="text-left accordian-text-color">
                                                This tool is designed for ethical hackers to automate the testing of websites, identifying potential vulnerabilities in order to improve their security.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="cyber-content accordian-text">
                        <div class="accordian-inner">
                            <div id="accordion2">
                                <div class="accordion-card">
                                    <div class="" id="headingFive">
                                        <a href="#" class="btn btn-link collapsed text-decoration-none"
                                            data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                            <h5 class="faq-btn-text">How does the tool work?</h5>
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                                        <div class="card-body">
                                            <p class="text-left accordian-text-color">
                                                The tool utilizes various techniques to find the IP address of a website, identify open ports, and attempts to crack SSH passwords using the Medusa tool.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="cyber-content accordian-text">
                        <div class="accordian-inner">
                            <div id="accordion3">
                                <div class="accordion-card">
                                    <div class="" id="headingSix">
                                        <a href="#" class="btn btn-link collapsed text-decoration-none"
                                            data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">
                                            <h5 class="faq-btn-text">Is this tool legal to use?</h5>
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
                                        <div class="card-body">
                                            <p class="text-left accordian-text-color">
                                                Yes, this tool is intended for ethical hacking purposes only. It should only be used with proper authorization and consent from the website owner.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="cyber-content accordian-text">
                        <div class="accordian-inner">
                            <div id="accordion4">
                                <div class="accordion-card">
                                    <div class="" id="headingSeven">
                                        <a href="#" class="btn btn-link collapsed text-decoration-none"
                                            data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                                            aria-controls="collapseSeven">
                                            <h5 class="faq-btn-text">What kind of vulnerabilities can the tool detect?</h5>
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
                                        <div class="card-body">
                                            <p class="text-left accordian-text-color">
                                                The tool can detect vulnerabilities related to open ports, weak SSH passwords, and potentially other security issues depending on the configuration of the website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cyber-contact-btn ml-2 mt-4">
                            <a href="/faq" class="text-decoration-none"> View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT-TEAM-SECTION -->
    <section class="cyber-security-section cyber-security-section2 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
                    <div class="cyber-content" data-aos="fade-up-left">
                        <h3>Our <span class="cyber-text">Team</span></h3>
                        <p class="security-services-p">Get to Know Us, we invite you to meet the faces behind our endeavor. Take a closer look at our team, where innovation meets determination. Join us on our journey as we navigate the realms of ethical hacking and cybersecurity, fueled by our shared passion for exploration and learning. Together, forged ahead and made a difference.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 text-md-right text-center">
                    <div class="cyber-content-img-right" data-aos="fade-up-right">
                        <figure class="mb-0"><img src="/static/images/team.png" alt="" class="" style="height: 554px;">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Form-Section -->
    <section class="blogs-section-starts form-section-starts overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-section" data-aos="fade-up">
                        <h3 class="text-center" data-aos="fade-up">Start Cyber Fusion</h3>
                        <p class="text-center form-section-p" data-aos="fade-up-left">Navigate the web's vulnerabilities with pinpoint accuracy through our advanced IP attack features, ensuring meticulous exploration and ethical hacking practices.</p>
                        <div class="input-group mb-3 input-field-form">
                            <form action="" method="post">
                                {% csrf_token %}
                            <input type="text" class="form-control input-form-input" style="width: 190%;"
                                placeholder="Enter IP Address" name="input_data">
                            <div class="input-group-append form-button">
                                <button class="btn btn-form-section" type="submit">Start</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%endblock%}
    <!-- Footer-Section -->
    {%block footer%}
    <div class="footer-section">
        <div class="about-right-icon">
            <figure class="footer-icon"><img src="/static/images/footer-left.png" alt="" class="img-fluid">
            </figure>
        </div>
        <div class="footer-outer-margin" data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-content1" data-aos="flip-left">
                            <figure>
                                <a class="navbar-brand pt-0" href="/" style="padding-top: 18px!important;">
                                    <img src="/static/images/logo.png" alt="" class="img-fluid diverge-logo"  style="height: 40px; padding-bottom: 8px;"/>
                                    <span  style="font-size: 1.5rem; margin-left: 5px; color: rgb(244, 51, 52);">CyberFusion</span>
                                </a>                            
                            </figure>
                            <p class="red-light-footer-p">Ready to embark on your ethical hacking journey? Enter our domain, explore responsibly, and shape a safer digital future.</p>

                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 d-xl-block d-none"></div>
                    <div class="col-xl-2 col-lg-3 col-md-2 col-sm-12 d-lg-block d-none">
                        <ul class="list-unstyled services-footer" data-aos="flip-left">
                            <li class="list-item footer-margin-left">
                                <h5 class="footer-link  footer-services-heading">
                                    Services
                                </h5>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#start-now" class="text-decoration-none footer-link-p">
                                    Cyber Fusion
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#updates" class="text-decoration-none footer-link-p">
                                    Updates
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#technologies" class="text-decoration-none footer-link-p">
                                    Technologies
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#stats" class="text-decoration-none footer-link-p">
                                    Stats
                                </a>
                            </li>

                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#why-cf" class="text-decoration-none footer-link-p">
                                    Why Cyber Fusion
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#faq" class="text-decoration-none footer-link-p">
                                    FAQs
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="#team" class="text-decoration-none footer-link-p">
                                    Team
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 d-md-block d-none">
                        <ul class="list-unstyled support-footer" data-aos="flip-left">
                            <li class="list-item footer-margin-left">
                                <h5 class="footer-link footer-services-heading">
                                    Links
                                </h5>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="/" class="text-decoration-none footer-link-p">
                                    Home
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-caret-right"></i>
                                <a href="/faq" class="text-decoration-none footer-link-p">
                                    FAQ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-list">
                            <div class="icon-list-box1" data-aos="flip-left">
                                <ul class="list-unstyled contact-us-ul">
                                    <li class="list-item">
                                        <h5 class="footer-link footer-get-heading">
                                            Get in Touch
                                        </h5>
                                    </li>
                                    <li class="list-item position-reletive addres-list icon-list1">
                                        <div class="number"><a href="mailto:webmaster@example.com"
                                                class="text-decoration-none footer-link-p ml-0"><span
                                                    class="footer-additional">Email: </span> cyberfusion@vvit.com</a></div>
                                    </li>
                                    <li class="list-item position-reletive addres-list icon-list1">
                                        <div class="contact-number"><a href="tel:+4733378901"
                                                class="text-decoration-none footer-link-p ml-0"><span
                                                    class="footer-additional">Phone:</span> +1 234 567 89 0 0</a></div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bar text-center">
            <div class="container">
                <div class="row">
                    <div class="footer-bar-content w-100 overflow-hidden">
                        <p class="text-size-16 mb-0">
                            Copyright ©2024 Cyberfusion Team VVIT All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}
    {%block scripts%}{%endblock%}
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="/static/js/animations.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/custom-script.js"></script>
    <script src="/static/js/owl.carousel.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/static/js/text-animations.js"></script>
  
</body>

</html>