{% extends 'base.html' %}

{% block banner %}{%endblock%}
{% block title %}FAQs | CyberFusion{%endblock%}
{%block active-home%}{%endblock%}
{%block active-faq%}active{%endblock%}

{%block main%}
<section class="cyber-security-section accordian-section faq-page overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 text-lg-left text-center mb-lg-0 mb-4">
                <div class="faq-content-img">
                    <figure class="mb-0"><img src="/static/images/faq.png" alt="" class="" style="height: 550px;">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="cyber-content accordian-text">
                    <h3 class="text-lg-left text-center">Frequently Asked Questions?</h3>
                    <div class="accordian-inner">
                        <div id="accordion1">
                            <div class="accordion-card">
                                <div class="" id="headingFour">
                                    <a href="#" class="btn btn-link text-decoration-none"
                                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        <h5 class="faq-btn-text">What is the purpose of this tool?</h5>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            This tool is designed for ethical hackers to automate the testing of websites, identifying potential vulnerabilities in order to improve their security.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion2">
                            <div class="accordion-card">
                                <div class="" id="headingFive">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none"
                                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        <h5 class="faq-btn-text">How does the tool work?</h5>
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            The tool utilizes various techniques to find the IP address of a website, identify open ports, and attempts to crack SSH passwords using the Medusa tool.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion3">
                            <div class="accordion-card">
                                <div class="" id="headingSix">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none"
                                        data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                        <h5 class="faq-btn-text">Is this tool legal to use?</h5>
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            Yes, this tool is intended for ethical hacking purposes only. It should only be used with proper authorization and consent from the website owner.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 4 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion4">
                            <div class="accordion-card">
                                <div class="" id="headingSeven">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none"
                                        data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                        <h5 class="faq-btn-text">What kind of vulnerabilities can the tool detect?</h5>
                                    </a>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            The tool can detect vulnerabilities related to open ports, weak SSH passwords, and potentially other security issues depending on the configuration of the website.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row2 -->
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="cyber-content accordian-text pt-2">
                    <div class="accordian-inner">
                        <div id="accordion001">
                            <div class="accordion-card">
                                <div class="" id="headingTwlve">
                                    <a href="#" class="btn btn-link text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseTwlve" aria-expanded="false"
                                        aria-controls="collapseTwlve">
                                        <h5 class="faq-btn-text">Is there any risk to using this tool?</h5>
                                </a>
                                </div>
                                <div id="collapseTwlve" class="collapse show" aria-labelledby="headingTwlve">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            While the tool itself is designed to be safe, there is always a risk of unintentionally causing disruption to the website or network being tested. It's important to use the tool responsibly and with caution.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion002">
                            <div class="accordion-card">
                                <div class="" id="headingThirteen">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseThirteen" aria-expanded="false"
                                        aria-controls="collapseThirteen">
                                        <h5 class="faq-btn-text">Can this tool be used for malicious purposes?</h5>
                                        </a>
                                </div>
                                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            No, this tool is strictly for ethical hacking purposes and should not be used for any malicious activities. Unauthorized or malicious use of the tool is strictly prohibited.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion003">
                            <div class="accordion-card">
                                <div class="" id="headingFourteen">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseFourteen" aria-expanded="false"
                                        aria-controls="collapseFourteen">
                                        <h5 class="faq-btn-text">How can I contribute to the development of this tool?</h5>
                                        </a>
                                </div>
                                <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                             If you're interested in contributing to the development of this tool, please reach out to us through the contact form on our website. We welcome feedback, suggestions, and contributions from the community.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                 <!-- 5 -->
                 <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion02">
                            <div class="accordion-card">
                                <div class="" id="headingEight">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        <h5 class="faq-btn-text">Is there any cost associated with using this tool?</h5>
                                        </a>
                                </div>
                                <div id="collapseEight" class="collapse" aria-labelledby="headingEight">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            No, this tool is provided free of charge for ethical hacking purposes. However, donations to support ongoing development are always appreciated.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 6 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion03">
                            <div class="accordion-card">
                                <div class="" id="headingNine">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseNine" aria-expanded="false"
                                        aria-controls="collapseNine">
                                        <h5 class="faq-btn-text">What precautions should I take before using this tool?</h5>
                                        </a>
                                </div>
                                <div id="collapseNine" class="collapse" aria-labelledby="headingNine">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            Before using this tool, ensure that you have proper authorization to test the website and that you understand the potential risks involved. Always use the tool in a controlled environment and avoid testing on live production systems without permission.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 7 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion04">
                            <div class="accordion-card">
                                <div class="" id="headingTen">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseTen" aria-expanded="false"
                                        aria-controls="collapseTen">
                                        <h5 class="faq-btn-text">Where can I find more information about ethical hacking and website security?</h5>
                                        </a>
                                </div>
                                <div id="collapseTen" class="collapse" aria-labelledby="headingTen">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            We recommend checking out reputable online resources, forums, and communities dedicated to ethical hacking and cybersecurity for additional information and resources.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>
{%endblock%}
